*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
body{
	height: 100vh;
	width: 100%;
	background-image: url(../Tejero_FinalProject/background.png);
	background-position: center;
	background-size: cover;
}
footer{
	padding: 30px;
	padding-top: 75px;
	background-color: #303036;
	color: white;
	height: 200px;
	text-align: center;
}
.wildcats{
	background-color: black;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 8px;
	padding-left: 4%;
	padding-right: 4%;
}
.name{
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	padding-left: 2px;
}
.logo{
	width: 295px;
	height: 69px;
}
nav ul li{
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	padding: 1px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: maroon;
	transition: .4s;
}
.redbutton{
	font-size: 20px;
	background-color:maroon;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 5px 35px;
	border-radius: 30px;
	transition: transform .4s; 
}
.redbuttonlower{
	font-size: 50px;
	background-color: maroon;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 5px 35px;
	border-radius: 30px;
	transition: transform .4s; 
}
.redbutton:hover{
	transform: scale(1.2);
	background-color: #E63100;
}
.redbuttonlower:hover{
	transform: scale(1.2);
	background-color: #E63100;

}
.centerbody{
	height: 100vh;
	width: 100%;
	padding: 80px;
}
.namebody{
	letter-spacing: 1px;
	cursor: pointer;
	padding-right: 5px;
}
.spanbody{
	color: maroon;
	font-family: 'Rock Salt', cursive;
	font-size: 75px;
}
.spanbody1{
	color: gold;
	font-family: 'Rock Salt', cursive;
	font-size: 75px;
}
.spanbody2{
	color: white;
	font-size: 77px;
}
.sub{
	color: orange;
	font-size: 50px;
}
.line{
	color: white;
	font-size: 35px;
	width: 1050px;
	height: 1000px;
}
.script{
	float: left;
	padding: 80px;
	padding-top: 190px;
	height: 600px;
	width: 890px;
	font-size: 20px;
}
.homebody{
	float: right;
	padding-top: 0;
	height: 100px;
	width: 800px;
}
.menu{
	padding: 30px;
	height:1000px;
	width: 1800px;
}
.rawr{
	width: 700px;
	height: 700px;
}
.menupic{
	padding-left: 30px;
	height: 800px;
	width:  1200px;
}
.form{
	width: 800px;
	background-image: url(../Tejero_FinalProject/reservation.png);
	margin: auto;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	padding-top: 20px;
}
.main{
	height: 590px;
	background-image: url(../Tejero_FinalProject/reservation.png);
	background-color: grey;
	width: 800px;
	margin: auto;
	border-radius: 0px 0px 15px 15px;
	padding-top: 20px;	
}
form{
	padding: 1px;
}
#namere{
	width: 100%;
	height: 50px;
}
.name{
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: white;
	font-size: 18px;
	font-weight: 700;
}
.firstname{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
}
.lastname{
	position: relative;
	left: 460px;
	top: -81px;
	width: 255px;
	line-height: 39px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}
.course{
	position: relative;
	left: 200px;
	top: -27px;
	line-height: 40px;
	width: 515px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}
.email{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 515px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}
.number{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 280px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}
.phone-number{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 16px;
	left: -100px;
	top: -4px;
}
.option{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 515px;
	height: 40px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
	outline: none;
	overflow: hidden;
}
.option option{
	font-size: 20px;
}
button{
	position: relative;
	left: 244px;
	top: 15px;
	background-color: #3BAF9F;
	display: block;
	margin: 20px 0px 0px 20px;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 14px 110px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;

}
button:hover{
	background-color: #66D9D9;
}
h3{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
a{
	text-decoration: none;
}
.content{
	width: 20%;
	margin: 45px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 20px;
	box-shadow: 0 24px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: .4s;
	background: #f2f2f2;
}
.content:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transform: translate(0px, -8px);
}
img{
	width: 367px;
	height: 367px;
	text-align: center;
	margin: 0;
	display: block;
	padding: 10px;
}
h6{
	font-size: 26px;
	text-align: center;
	color: #222f3e;
	margin: 0;
}
ul{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0;
}
li{
	padding-top: 5px;
}
.fa{
	color: orange;
	font-size: 26px;
	transition: .4s;
	margin: 3px;
}
.checked{
	color: orange;
}
.fa:hover{
	transform: scale(1.3);
	transition: .6s;
}
.buy-1{
	position: relative;
	left: 86px;
	top: -24px;
	background-color: #3BAF9F;
	display: block;
	margin: 20px 0px 0px 20px;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 10px 50px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;

}
.buy-1:hover{
	background-color: #66D9D9;
}


